{% extends 'base.html.twig' %}



{% block title %}Accueil{% endblock %}
 
{% block body %}


<section id="Bienvenue">
    <div class="container">
        <div class="texte de bienvenue">
        <h1>Coaching</h1> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi sequi odit consectetur consequatur minima eos ipsam, quo quam possimus, explicabo, et quaerat quae a nam commodi nulla quis similique at.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur et fugiat molestias voluptates facilis cupiditate velit sint. Nostrum, blanditiis! Dolorem repellendus atque dolores voluptas perferendis praesentium tempora fugiat harum amet.
        </p>
        <button type="submit" class="btn accueil-btn"><a href="abo.html">abonnement</a></button>
        </div>
    </div>
    </section>
    <section classe="artcle">

    <div class="container">
        <div class="row">
            <div class="col ima-s"><img src="./images/sport-m-big.jpg" alt="">
            
          </div>
          <div class="col">
        
          </div>
        </div>
        <div class="row">
          <div class="col">
           
          </div>
          <div class="col">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus esse ipsam, error commodi unde sit repellat ut doloremque nihil vero aperiam fugit autem eveniet enim fugiat aliquam molestiae sed nobis.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus esse ipsam, error commodi unde sit repellat ut doloremque nihil vero aperiam fugit autem eveniet enim fugiat aliquam molestiae sed nobis.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus esse ipsam, error commodi unde sit repellat ut doloremque nihil vero aperiam fugit autem eveniet enim fugiat aliquam molestiae sed nobis.</p>
          </div>
          <div class="col">
            
        
          </div>

          <div class="row">
            <div class="col">
            
        
            </div>
            <div class="col ima-s"><img src="./images/barr.jpg" alt="">
            
          </div>
        </div>
        <div class="row">
          <div class="col ima-s"><img src="./images/musf.jpg" alt="">
          <div class="col">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus esse ipsam, error commodi unde sit repellat ut doloremque nihil vero aperiam fugit autem eveniet enim fugiat aliquam molestiae sed nobis.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus esse ipsam, error commodi unde sit repellat ut doloremque nihil vero aperiam fugit autem eveniet enim fugiat aliquam molestiae sed nobis.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus esse ipsam, error commodi unde sit repellat ut doloremque nihil vero aperiam fugit autem eveniet enim fugiat aliquam molestiae sed nobis.</p>
          </div>

          <div class="row">
            <div class="col">
             
            </div>
            <div class="col">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus esse ipsam, error commodi unde sit repellat ut doloremque nihil vero aperiam fugit autem eveniet enim fugiat aliquam molestiae sed nobis.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus esse ipsam, error commodi unde sit repellat ut doloremque nihil vero aperiam fugit autem eveniet enim fugiat aliquam molestiae sed nobis.Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus esse ipsam, error commodi unde sit repellat ut doloremque nihil vero aperiam fugit autem eveniet enim fugiat aliquam molestiae sed nobis.</p>
            </div>
            <div class="col ima-s"><img src="./images/gymf.jpg" alt="">
      </div>





    </section>


    



    

  
{% endblock %}
