{% extends 'base.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Produit</h1>

    {{ include('admin_produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_produit_index') }}">back to list</a>

    {{ include('admin_produit/_delete_form.html.twig') }}
    </div>
{% endblock %}
