<form method="post" action="{{ path('admin_commande_quantite_delete', {'id': commande_quantite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande_quantite.id) }}">
    <button class="btn">Delete</button>
</form>
