
body{
    position: relative;
    color: #2b2b2b;
    font-family: 'Titillium Web', sans-serif;
    min-height: 100vh;
}


/**************************************************************NavBAR**********************************************************/

.navbar{
    height: 5rem;
    padding: 0;
    background-color: #2b2b2b !important;
}

.navul{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid{
    height: 100%;
}

.nav-item{
    padding-right: 1rem;
    padding-left: 1rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    transition: all 0.8s ease 0s;
}

.nav-item:hover{
    background-color: rgb(0, 98, 255);
}

.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    color: white !important;
    padding: 0;
}


#navbarLeftAlignExample{
    height: 100%;
}

#navDroite{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2%;
}

.loginButton{
    margin-left: 1rem;
}


.dropdown-menu{
    background-color: #2b2b2b !important;
    top: 95%;
}

.dropdown-item{
    color: white;
    transition: all 0.8s ease 0s;
}

.dropdown-item:hover{
    background-color: rgb(0, 98, 255);
    color: white;
}

/***********************************************************************Footer***************************************************************************/

.footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #2b2b2b !important;
}

.mb-4{
    display:flex;
    justify-content: center;
    align-items: center;
}

/*######################################################################################################################################################################################################################## RESPONSIVE #############################################################################*/

@media (max-width: 992px){


    .navbar{
        z-index: 2;
    }

    .navul{
        flex-direction: column;
    }

    #navDroite{
        position: relative;
        flex-direction: column;
    }

    #navbarLeftAlignExample{
        height: auto;
        background-color: #2b2b2b;
        position: absolute;
        left: 0;
        top: 100%;
    }

    .nav-item{
        width: 100%;
        height: 5rem;
        border-bottom: 0.5px solid #222;
    }

    .loginButton{
        margin: 2rem;
    }

    .fa-bars{
        color: white;
        display: block;
    }

    #barreRecherche{
        margin: 2rem;
    }

    .dropdown{
        height: auto;
        min-height: 5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .dropdown-menu{
        position: relative !important;
        text-align: center;
        width: 100%;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        border-radius: 0;
    }
}